//- 문서유형정의(DTD)
doctype html

//----------------------------------------------------------------

//- HTML 속성(Attributes)
html(lang="ko-KR")
	head
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")
		title Jade 기본 문법
		link(rel="stylesheet", href="css/style.css")

		//----------------------------------------------------------------

		//- Script, Style 코드 블록
		style.
			body.main {
				background-image: url(http://subtlepatterns.com/patterns/green_gobbler.png);
			}
		script.
			document.onclick = function(){
				console.log('Jade → HTML 문서');
			};
	//----------------------------------------------------------------
	
	//- Jade 변수와 3항 연산
	-var isIndexPage = !true
	//- 배열로 class 속성 제어
	-var classList = ['jade', 'template', 'engine']

	body(class=[isIndexPage ? 'main' : 'sub'], class=classList)

		//----------------------------------------------------------------

		#page

			//- HTML 요소(Element)
			h1 HTML 요소 이름
			p CSS 선택자(Selector)와 유사합니다.

			//----------------------------------------------------------------

			//- 중첩구문
			section: article: h3 블록 확장(인라인 중첩구문)

			p 들여쓰기를 지켜 작성하는 Jade 문법의 특성 상
				| 공간을 많이 사용하게 됩니다. 공간을 효율적으로 줄여 사용하려면
				| 아래 그림처럼 확장하고자 하는 요소 뒤에 콜론(:)을 붙입니다.

			//----------------------------------------------------------------

			h3 Emmet 표기법을 Jade에 활용
			pre: code='nav#gnb[role=navigation]>ul>li*3>a[href=#]{목록 아이템 $}'

			nav#gnb(role="navigation")
				ul
					li
						a(href="#") 목록 아이템 1
							//- img(src="", alt="목록 아이템 1")
					li
						a(href="#") 목록 아이템 2
							//- img(src="", alt="목록 아이템 2")
					li
						a(href="#") 목록 아이템 3
							//- img(src="", alt="목록 아이템 3")
			
			//----------------------------------------------------------------

			//- 특수문자 이스케이프(Escape) 처리
			h3 특수문자 이스케이프(Escape, =) 처리 유무에 따른 결과
			ul
				li 
					//- 특수문자 &를 하이퍼링크에 사용할 때 이스케이프 처리
					p: a(href="http://terms.naver.com/entry.nhn?docId=1615370&cid=50376&categoryId=50376") 이스케이프(Escape) 문자
					pre: code='<footer>&copy; yamoo9.net</footer>'
				li
					p: a(href!="http://terms.naver.com/entry.nhn?docId=1615370&cid=50376&categoryId=50376") 이스케이프 X(Unescape) 문자
					pre: code!='<footer>&copy; yamoo9.net</footer>'

			//----------------------------------------------------------------

			//- 현재 페이지 내비게이션 메뉴 활성화
			-var curUrl='/products'
			h3 현재 페이지 내비게이션 메뉴 활성화 구현 
			nav
				ul
					li: a(href="/",         class=(curUrl=='/'?'active':'')) 홈
					li: a(href="/about",    class=(curUrl=='/about'?'active':'')) 소개
					li: a(href="/products", class=(curUrl=='/products'?'active':'')) 제품
					li: a(href="/support",  class=(curUrl=='/support'?'active':'')) 지원

			//----------------------------------------------------------------

			//- &attribute()를 활용한 속성 설정
			section#news: article&attributes({
				'class': ['post', 'highlight'],
				'data-category': 'sports'
			})

			//----------------------------------------------------------------
			
			//- 내용(Contents)
			h3 내용(Contents)
			p 일반적인 내용 입력은 요소 뒤에 내용을 입력합니다.
			p
				| 이렇게 사용해도 위 방식과 결과가 동일합니다.
			p Jade에서 여러 줄을
				| 사용하고자 할 경우는
				| 기호 파이프(|)를 사용합니다.

			//----------------------------------------------------------------

			//- 블록 요소 내, 인라인 요소(Inline Elements)
			h3 인라인 요소를 추가하는 방법
			p Jade에서 요소 내부에 텍스트를 추가하는 <span>일반적인 방식은 요소 뒤에 한 칸 공백을 두고 내용 텍스트를 입력하는 것</span>입니다. 그 외의 사용법은 <strong>파이프(|) 기호를 사용해 아래 라인에 내용을 추가</strong>해도 됩니다. <em>마지막으로 여러 줄을 입력하고자 한다면 파이프 기호를 연이어 사용</em>하면 됩니다.

			//----------------------------------------------------------------
			
			//- 주석(Comments)
			h3 Jade 주석(Comments)
			
			<!-- HTML 주석 지원 -->

			// Jade 주석, 컴파일 시 HTML 문서에 주석 내용이 추가됩니다.

			//
				여러 줄 주석의 경우
				이와 같이 사용하면 됩니다.
			
			//- Jade 주석 뒤에 하이픈(-)을 붙이면 HTML 문서에 주석 내용이 추가되지 않습니다.

			<!--[if lt IE 9]>IE 조건부 주석문 내부에는 Jade 구문이 아닌, HTML 구문을 그대로 작성해야 합니다.<![endif]-->

			//----------------------------------------------------------------

			//- 조건문(Conditionals)
			h3 조건문(Conditionals)

			//- 변수 설정
			-var usingJquery = false
			//- 조건문
			if usingJquery
				// usingJquery 변수가 참(true)이어서 실행된 결과
				script(src="//code.jquery.com/jquery.min.js")
				p jQuery를 현재 문서에서 사용합니다.
			else 
				// usingJquery 변수가 거짓(false)이어서 실행된 결과
				p jQuery를 현재 문서에서는 사용하지 않습니다.

			//----------------------------------------------------------------

			//- 반복문(Iteration)
			h3 반복문(Iteration)
			
			// 배열 아이템 활용
			nav: ul
				each item in ['홈','소개','제품','지원']
					li: a(href="#")=item

			// 배열 내부에 객체 활용
			-var navContents = [{'link': '/', 'content': '홈'},{'link': '/about', 'content': '소개'},{'link': '/products', 'content': '제품'},{'link': '/supports', 'content': '지원'}]
			
			//- 위 navContents에 담기는 배열을 읽기 좋게 처리하면 아래 코드와 같습니다.
				[
					{link: '/',         content: '홈'},
					{link: '/about',    content: '소개'},
					{link: '/products', content: '제품'},
					{link: '/supports', content: '지원'}
				]

			nav: ul
				each item in navContents
					li: a(href=item.link)=item.content

			//----------------------------------------------------------------
			
			//- 믹스인(Mixin)
			h3 믹스인(Mixin)

			//- 1Depth 내비게이션: 믹스인 navi 정의
			mixin navi(naviContents)
				nav: ul
					each item in naviContents
						li: a(href=item.link)=item.content
			
			// 믹스인 navi로 생성한 내비게이션
			+navi([
				{link: '/',         content: '홈'},
				{link: '/about',    content: '소개'},
				{link: '/products', content: '제품'},
				{link: '/supports', content: '지원'}
			])

			//----------------------------------------------------------------

			//- 믹스인(Mixin)
			h3 믹스인(Mixin): 2Depth 내비게이션

			//- 2Depth 내비게이션: navi2D 정의
			mixin navi2D(naviContents)
				nav: ul
					each D1_item in naviContents
						li
							+naviLink(D1_item)
							if D1_item.child
								ul
									each D2_item in D1_item.child
										li
											+naviLink(D2_item)
			
			//- 믹스인 naviLink 정의(재사용)
			mixin naviLink(item)
				a(href=item.link)=item.content

			// 믹스인 navi2D로 생성한 2Depth 내비게이션
			+navi2D([
				{link: '/', content: '홈'},
				{link: '/about', content: '소개'},
				{
					link: '/products',
					content: '제품',
					// Depth 하위 메뉴 아이템 콘텐츠 child
					child: [
						{link: '/products/screen', content: '스크린'},
						{link: '/products/keyboard', content: '키보드'}
					]
				},
				{link: '/supports', content: '지원'}
			])



