//- ----------------------------------------------------------------
//- 템플릿 확장
//- 세부항목은 _settings/_docTemplate.jade 참조
//- ----------------------------------------------------------------
extends _settings/_docTemplate

//- ----------------------------------------------------------------
//- 환경설정 덮어쓰기
//- 세부항목은 _settings/_config.jade 참조
//- ----------------------------------------------------------------
append config
	//- 현재 페이지 URL 경로
	-var curPage     = '/'
	//- 문서 제목 <title>
	-var pageTitle   = '스마트한 반응형 웹 그리드 시스템'
	//- 메타: 설명 <meta name="description">
	-var description = 'Susy는 스마트하고 강력한 웹 그리드 시스템 프레임워크입니다. Susy는 Sass에 의존하기 때문에 Sass 언어가 아니면 사용할 수 없습니다.'
	//- 메타: 키워드 <meta name="keywords">
	-var keywords    = '야무, yamoo9, 책, book, 예제, example, Susy, Sass'

//- ----------------------------------------------------------------
//- <head> 영역: block 내용 앞(prepend)/뒤(append)에 내용 추가
//- ----------------------------------------------------------------
//- 페이지 타이틀 <title>
prepend pageTitle
append pageTitle
	| - Susy

//- 스타일시트 <link> & <style>
prepend stylesheets
append stylesheets

//- 스크립트 <script>
prepend headScripts
append headScripts

//- <body> 영역 끝, 스크립트 <script>
prepend bodyEndScripts
append bodyEndScripts

//- ----------------------------------------------------------------
//- <body> 영역: block 내용 앞(prepend)/뒤(append)에 내용 추가
//- ----------------------------------------------------------------
//- header 영역
prepend header
append header

block header
	h1 스마트한 반응형 웹 그리드 시스템 프레임워크 - Susy2
	p 
		|2015. 3월 현재 Susy 그리드 시스템 프레임워크의 버전은 2.2.2입니다. 즉, 여러분이 공부할 것은 Susy2입니다. 이번 장에서 미처 다루지 못한 내용 또는 업데이트로 새롭게 추가된 기능 사용법을 공부하고 싶다면 
		a(href="http://susy.readthedocs.org", target="_blank") 레퍼런스
		| 를 살펴보시길 바랍니다. (Susy 초기 버전 사용법은 SysnOne 링크를 통해 확인할 수 있습니다)

//- navigation 영역
prepend navigation
append navigation

//- main 영역
prepend main
append main
block main
	//- .box.box1 span1
	//- .box.box2 span2

	//- .box.box1 span1
	//- .box.box2 span2
	//- .box.box3 span3
	//- .box.box4 span4
	//- .box.box5 span5
	//- .box.box6 span6
	//- .box.box7 span7
	//- .box.box8 span8
	//- .box.box9 span9
	//- .box.box10 span10
	//- .box.box11 span11
	//- .box.box12 span12

	.box.box1 span1
	.box.box2 span2
	.box.box3 span3
	.box.box4 span4
	.box.box5 span5
		//- .box.box13 span13
		//- .box.box14 span14
		//- .box.box15 span15
	.box.box6 span6
	//- .box.box7 span7
	//- .box.box8 span8
	//- .box.box9 span9
	//- .box.box10 span10
	//- .box.box11 span11
	//- .box.box12 span12

//- aside 영역
prepend aside
append aside

//- footer 영역
prepend footer
append footer
	script(src="js/scripts.js")