/* line 4, C:/Users/훈/Desktop/sass-project/src/sass/sass-syntax.sass */
#page {
  background: #47ABE0;
  color: #0A3467; }

/* line 8, C:/Users/훈/Desktop/sass-project/src/sass/sass-syntax.sass */
#page nav ul {
  list-style: none;
  padding-left: 0; }
