header
	.container.cf
		h1#jade: a(href="http://jade-lang.com")
			img(
				src="images/jade-logo.png"
				width="217"
				height="120"
				alt="Jade: Node Template Engine"
			)
		p 
			block slogan
				| Jade를 실무에 활용해보세요!

	//- 내비게이션 영역
	include _navigation